@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Import */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* General Styling */
body {
  font-family: 'Space Grotesk', sans-serif;
  @apply bg-background-light dark:bg-background-dark text-gray-800 dark:text-white;
  transition: background-color 0.3s, color 0.3s;
}

/* Material Symbols configuration */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}