@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Import */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* General Styling */
body {
  font-family: 'Space Grotesk', sans-serif;
  @apply bg-background-light dark:bg-background-dark text-gray-800 dark:text-white;
  transition: background-color 0.3s, color 0.3s;
}

/* Material Symbols configuration */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* Keyframes for the Wave Animation */
@keyframes wave-motion {
  0% {
    border-radius: 50% 50% 0 0 / 100px 100px 0 0;
    transform: translateY(0);
  }

  50% {
    border-radius: 45% 55% 0 0 / 120px 80px 0 0;
    transform: translateY(20px);
  }

  100% {
    border-radius: 50% 50% 0 0 / 100px 100px 0 0;
    transform: translateY(0);
  }
}

/* Keyframes for Grid Line Movement */
@keyframes grid-move-x {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes grid-move-y {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

/* Keyframes for Circular Text */
@keyframes rotate-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circular-text-slow {
  animation: rotate-slow 20s linear infinite;
  /* වඩා සෙමින් කරකැවීම */
  transform-origin: center;
}